<div class="container">
	<h1>Editing Credentialing Document</h1>

	<%= render 'form', credentialing_document: @credentialing_document %>

	<%= link_to 'Show', @credentialing_document %> |
	<%= link_to 'Back', credentialing_documents_path %>
</div>
