<h1>Welcome to AMPAdocs</h1>
<h2>American Medical Professions Association</h2>
<p>AMPA was established in 1997 for the purpose of helping medical professionals on the business side of practicing medicine. We provide our members with special programs tools to help them save money and focus on what matters - Patient care. Members receive the following benefits</p>
	<ul>Discounted Financial Services with best of breed firms</ul>
	<ul>Profile Management</ul>
	<ul>Networking</ul>
	<ul>Credentialing Management</ul>
	<ul>Discounted practice management solutions</ul>
<p>Join Today</p>